<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @board.title %>
</p>

<p>
  <b>Name:</b>
  <%= @board.name %>
</p>

<p>
  <b>Comment:</b>
  <%= @board.comment %>
</p>

<p>
  <b>Date:</b>
  <%= @board.date %>
</p>


<%= link_to 'Edit', edit_board_path(@board) %> |
<%= link_to 'Back', boards_path %>
